<h2>USER POSTS</h2>
    <%= auth_token_input %>

    <form action="<%= user_posts_url %>" method="POST" id="post-form">
        <h5>Create Your Post</h5>
            <textarea name="post[body]" rows="5" cols="30"> </textarea>
                
        
        <input type="submit" value="Create Post">
    </form>