* {box-sizing:border-box}

.img-slideshow{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slides {
    display: none;
}

  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.img-slideshow img {
    width: 100%;
}